.mark-attendance {
    background-color: lightcyan;
  }
  .mark-attendance h1{
    color: navy;
    margin: 3rem;
  }
  .mark-attendance h1{
    color: navy;
    margin: 2rem;
  }
  .mark-attendance p{
    text-align: center;
  }
  .mark-attendance td, .mark-attendance th, .mark-attendance li{
    color: darkorange;
  }
  .mark-attendance label{
    color: darkorange;
    text-align: center;
    display: block;
  }
  .mark-attendance select {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: comic sans ms;
  }
  .mark-attendance table{
    margin-left: auto;
    margin-right: auto;
  }
  .mark-attendance li {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    font-family: comic sans ms;
  }
