.view-attendance-percentage {
    background-color: lightyellow;
}
.view-attendance-percentage h1{
    color: brown;
    margin: 3rem;
}
.view-attendance-percentage p, .view-attendance-percentage h3, .view-attendance-percentage tr, 
.view-attendance-percentage th, .view-attendance-percentage td{
    color: purple;
}